{% extends 'members/base.html' %}

{% block page_content %}

<div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{% url 'members:register' %}" style="text-decoration:none;">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="{% url 'login' %}" style="text-decoration:none;">
            Log in
          </a>
        </div>
      </div>
    </div>


<section class="mt-2">
        <article class="message is-success">
            <div class="message-header">
                <p>Welcome </p>
                {% comment %} <button class="delete" aria-label="delete"></button> {% endcomment %}
            </div>
            <div class="message-body">
               <p>Digitization refers to the process of converting analog information into a digital format that can be stored, processed, and transmitted using electronic devices and networks. The importance of digitization lies in its ability to revolutionize the way we store, access, and use information.</p> 
               &nbsp;
               <p>Digitization has the potential to transform the way we live and work, making information more accessible, efficient, and cost-effective</p>
            </div>
        </article>

         <article class="message is-success">
            <div class="message-header">
                <p>Welcome </p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
               <p>Digitization refers to the process of converting analog information into a digital format that can be stored, processed, and transmitted using electronic devices and networks. The importance of digitization lies in its ability to revolutionize the way we store, access, and use information.</p> 
               &nbsp;
               <p>Digitization has the potential to transform the way we live and work, making information more accessible, efficient, and cost-effective</p>
            </div>
        </article>
    </section>
{% endblock  %}