{% extends "members/base.html" %}

{% block page_content %}
<html>
<div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger" href="{% url 'members:logout_view' %}" style="text-decoration:none;">
            <strong>Logout</strong>
          </a>
        </div>
    </div>
</div>
<section>
    <p class="text-center h3 p-5 mb-0">Welcome to your page {{user.username}}</p>
    <p class="btn-success  h5 text-center p-5">List of Members</p>
</section>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>UID</th>
                <th>Name</th>
                <th>Email Address</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
             {% for member in members%}
            <tr>
                <td>{{member.id}}</td>
                <td>{{member.name}}</td> 
                <td>{{member.email}}</td>
                <td id="data" class="text-center"><a href="{% url 'members:update' member.id %}" class="text-info" style="text-decoration:none">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'members:delete' member.id %}" class="text-danger" onclick="handleClick()" style="text-decoration:none">Delete</a></td>
            
            </tr>
    
             {% endfor %}
        </tbody>
    </table>

    <p class="text-center h4">
        <a href='add/' class="btn btn-info">Add Member</a>
    </p>
    </html>
{% endblock %}